@media (min-width: 1200px){
.container{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 1540px;
    margin-block: 40px;}
}

.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hide{
    display: inline-flex;
    margin-right: 30%;
    text-decoration-color: white;
    margin-top: 40px;
}
.login{
    padding: 5px;
    width: 80px;
    border-radius: 8px;
}
.home{
    width: 100%;
}
.img{
    background: linear-gradient(
        rgba(20,20,20,0.5),
        rgba(20,20,20,0.5)),
        url( "images/kat-yukawa-K0E6E0a0R3A-unsplash.jpg");
      
}
.word{
    font-size: 60px;
    color: white;
}
.word1{
    font-size: 30px;
    color: white;
}
.but{
    padding: 10px;
    border-radius: 5px;
    background-color: #12DF26;
    font-size: medium;
    font: white;
}
.Aboutus{
    text-align: center;
    margin-top: 40px;
    
}
.p2{
    display: inline-flex;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #f4f4f4;
}
.col-md-6{
    margin-left: 400px;
    background-color: #f1f1f1;
    position: center;

}
#project{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
}
.farm{
    margin-top: 200px;
    margin-left: 600px;
}
.col-md-6{
    margin-top: 200px;
}
.paragraph{
    margin-left: 40px;
}
*{
  box-sizing: border-box;
}
.column{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width: 600px){
    .column {
        width:100%;
        display: block;
        margin-bottom: 20px;
    }
}
.container3{
    float: left;
    margin-top: 15px;
    background-color: black;
    color: white;
}
.about2{
    margin-top: 1px;
    display: block;
}
.header1{
    margin: 40px;
    /* margin-left: 30px; */
}
.img3{
    float: left;
}
.demotext{
    float: left;
}
.but1{
    border-radius: 5px;
    margin-left: 20px;
}
.about3{
    margin-left: 40px;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-left: 10px;
    margin-right: 10p
}
.card-deck{
    margin-left: 10px;
}